@font-face {
    font-family: Cirka;
    font-weight: bold;
    src: url('../cirka-bold.otf') format("opentype");
}

*, ::before, ::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.previous-title{
    font-family: 'Cirka';
    font-size: 2.7rem;
    text-align: center;
    padding: 1em 1em 0 1em;
    letter-spacing: 2px;
    color: #10002B;
}

.prev-bg{
  min-height: 100vh;
    background: linear-gradient(
    140deg,
    #ebcdfd 0%,
    #E0AAFF 20%,
    #ebcdfd 0%,
    #E0AAFF 40%,
    #ebcdfd 0%,
    #E0AAFF 60%,
    #ebcdfd 0%,
    #E0AAFF 80%,
    #ebcdfd 0%,
    #E0AAFF 100%
  );;
    letter-spacing: 2px;
    color: #10002B;
}

.prev-container{
    padding: 3em 3em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.prev-info {
    width: 100%;
    text-align: center;
    padding: 0 6em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.prev-mail{
    width: 100%;
    max-width: 360px;
  backdrop-filter: blur(10px);
  margin-bottom: 2rem;
  border-radius: 15px;
  border: 3px solid transparent;
  transition: background 300ms ease-out;
  font-weight: 600;
  background: white;
  padding: 0.8em;
  text-align: center;
}
.prev-mail:hover {
  box-shadow: 1px 1px 13px rgba(255, 255, 255, 0.5);
  background: rgba(255 255 255 / 1);
}

h2.appr {
    text-transform: uppercase;
    margin-bottom: 1.8rem;
    width: max-content;
    position: relative;
    padding-bottom: 3px;
}



.prev-name, .prev-subject {
  padding-bottom: 0.6rem
}

.prev-name{
  padding-top: 0.6rem;
}

.prev-message {
    padding-bottom: 1rem;
    position: relative;
}

.green{
    background: rgba(121 255 97 / 0.5);
  border: 3px solid rgba(121 255 97/ 0.4);
}


.red{
  background: rgba(255 99 99 / 0.5);
  border: 3px solid rgba(255 99 99 / 0.4);
}

@media (max-width: 786px){
  .prev-container{
    padding-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .prev-info{
    width: 100%;
  }
  .previous-title{
    font-size: 2rem;
  }
}

@media (max-width: 786px){
.prev-info{
    width: 100%;
    padding: 0.5em;
  }
  .previous-title{
    font-size: 1.9rem;
    padding-bottom: 1.3rem;
  }
}